# SFTP Configuration
# Copy this file to .env and fill in your credentials

SFTP_HOST=ftp.galana.mg
SFTP_PORT=22
SFTP_USERNAME=camtr1
SFTP_PASSWORD=yN~i7Dh(J1xTf{i\
# OR use private key authentication:
# SFTP_PRIVATE_KEY_PATH=/path/to/private/key

SFTP_REMOTE_PATH=/IN
SFTP_FILE_PATTERN=*.xlsx
